<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.msj_01_servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>MyRequestServlet</servlet-name>
	<servlet-class>com.msj_02_servletrequset.MyRequestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>MyRequestServlet</servlet-name>
	<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>MyRegisterServlet</servlet-name>
	<servlet-class>com.msj_03register.MyRegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>MyRegisterServlet</servlet-name>
	<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CalculateServlet</servlet-name>
	<servlet-class>com.msj_04_calservlet.CalculateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>CalculateServlet</servlet-name>
	<url-pattern>/cal</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CalculateServlet2</servlet-name>
	<servlet-class>com.msj_04_calservlet.CalculateServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>CalculateServlet2</servlet-name>
	<url-pattern>/calcu</url-pattern>
	</servlet-mapping>
</web-app>
